{% extends "base/main.html" %}
{% block content %}
  
<div class="content-wrapper">
      <h3>{{post}}</h3>
      <p>{{post.content}}</p>
      <hr>
      <h3>Comments</h3>
      <hr>
      {% for comment in comments %}
        <small><em>{{comment.updated|timesince}} ago</em></small>
        <p>- {{comment}}</p>
        <hr>
      {% endfor %}
</div>

<div class="send-comment">
    <p>Add a comment</p>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="comment" placeholder="Your message">
      <input type="submit">
    </form>
</div>

{% endblock content %}