{% extends "base/main.html" %}
{% block content %}
{% if page == 'login' %}

    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Enter your Username</label>
        <input type="texts" name="username" placeholder="Username">
        <label for="">Enter your password</label>
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <p>Don't have an account yet? <a href="{% url 'register' %}">Register</a></p>

{% else %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
    <p>Already registered? <a href="{% url 'login' %}">Login</a></p>

{% endif %}
{% endblock content %}