<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SOGI's portfolio and Blog post">
    <title>SOGI</title>
</head>
<body>
    <style>
        .nav-link {
            display: inline-block;

            color: rgb(0, 0, 0);

            text-align: center;
            line-height: 3%px;

            text-decoration: none;
        }
        #about {
            position: absolute;
            top: 7px;
            right: 16px;
            display: inline-block;
        }
    </style>
    {% include "base/navbar.html" %}
    <hr>
    {% block content %}
      
    {% endblock content %}
</body>
</html>